<div class="container-fluid  grad2 d-none d-md-block">
    <div class="row fluid-padding py-5" *ngIf="!errore">
        <div class="col-5 text-center">
            <img [src]="immagine" class="img-fluid rounded" alt="">
            <br><br>
            <h4>Popularity:</h4>
            <h6 >   Viewed {{ricerche}} times  </h6>
        </div>
        <div class="col-7">
            <div class="text-center">
                <h2 class="w-100 bold grigioscuro">{{nome}}</h2> 
                <h6 class="small">{{categoria}}</h6>

                <i *ngIf="alcolico=='Non alcoholic' || alcolico=='Optional alcohol'" class="fas fa-tint"></i>
                <i *ngIf="alcolico=='Alcoholic' || alcolico=='Optional alcohol'" class="fas fa-fire-alt"></i>
                <h6 class="small">{{alcolico}}</h6>

                <i *ngIf="bicchiere=='Cocktail glass'" class="fas fa-cocktail"></i>
                <i *ngIf="bicchiere=='Martini Glass' || bicchiere=='Martini glass'" class="fas fa-glass-martini-alt"></i>
                <i *ngIf="bicchiere=='Shot Glass' || bicchiere=='Shot glass' || bicchiere=='Highball Glass' || bicchiere=='Highball glass' || bicchiere=='Pitcher' || bicchiere=='Old-Fashioned Glass' || bicchiere=='Old-Fashioned glass' || bicchiere=='Old-fashioned glass' || bicchiere=='Collins Glass' || bicchiere=='Collins glass' || bicchiere=='Whiskey Sour glass' || bicchiere=='Whiskey Sour Glass' || bicchiere=='Whiskey sour glass' || bicchiere=='Hurricane Glass' || bicchiere=='Hurricane glass'"
                    class="fas fa-glass-whiskey"></i>
                <i *ngIf="bicchiere=='Wine Glass' || bicchiere=='Wine glass' || bicchiere=='Champagne Flute' || bicchiere=='Champagne flute' || bicchiere=='Balloon Glass' || bicchiere=='Balloon glass'"
                    class="fas fa-wine-glass-alt"></i>
                <i *ngIf="bicchiere=='Coffee Mug' || bicchiere=='Irish coffee cup' || bicchiere=='Coffee mug' || bicchiere=='Punch Bowl' || bicchiere=='Punch bowl' || bicchiere=='Mason Jar' || bicchiere=='Mason jar'"
                    class="fas fa-coffee"></i>
                <h6 class="small">{{bicchiere}}</h6>
               
           
                <div class="col-8 offset-2 pt-3" style="display: block;">
                    <h6 class="grigioscuro">HOW TO MIX</h6>
                    <p style="border-bottom: 1px solid ;"></p>
                </div>
            </div>
            <div class="row px-5">
                <small style="text-align: justify;">{{istruzioni}}</small>
            </div>
        </div>

        <div class="row col-12 pt-4">
            <div class="col-6 offset-3" style="display: block;">
                <h6 class="grigioscuro w-100 text-center">INGREDIENTS</h6>
                <p style="border-bottom: 1px solid black;"></p>
            </div>
            <div class="row flex flex-around pl-2 " >
                <div class="col-3 cursor-pointer" *ngFor="let item of ingredienti" (click)="allCocktailByIngredient(item.nameLess)">
                    <img [src]="item.img" class="img-fluid" alt="">
                    <h6 class="small text-center">{{item.nameFull}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row fluid-padding" *ngIf="errore">
        <div class="col-7 pt-5">
            <small class="bold">604</small>. <small class="grigioscuro">Missing cocktail.</small><br><br>
            <small>Unfortunately, the research did not return any results.</small><br>
            <small class="grigioscuro">The requested cocktail is not available in our archives.</small>
        </div>
        <div class="col-5">
            <img src="../../assets/img/emptyglass.png" class="img-fluid" alt="" style="max-height: 40vh;">
        </div> 
    </div>

</div>




<div class="container-fluid  grad2 d-sm-block d-md-none">
    <div class="row  py-5" *ngIf="!errore">
        <div class="col-12 fluid-padding text-center">
            <img [src]="immagine" class="img-fluid rounded" alt="">
            <br><br>
            <h5>Popularity:</h5>
            <h6 >   Viewed {{ricerche}} times  </h6>
        </div>
        <div class="col-12">
            <div class="text-center">
                <h2 class="w-100 bold grigioscuro">{{nome}}</h2>
                
                <h6 class="small">{{categoria}}</h6>

                <i *ngIf="alcolico=='Non alcoholic' || alcolico=='Optional alcohol'" class="fas fa-tint"></i>
                <i *ngIf="alcolico=='Alcoholic' || alcolico=='Optional alcohol'" class="fas fa-fire-alt"></i>
                <h6 class="small">{{alcolico}}</h6>

                <i *ngIf="bicchiere=='Cocktail glass'" class="fas fa-cocktail"></i>
                <i *ngIf="bicchiere=='Martini Glass' || bicchiere=='Martini glass'" class="fas fa-glass-martini-alt"></i>
                <i *ngIf="bicchiere=='Shot Glass' || bicchiere=='Shot glass' || bicchiere=='Highball Glass' || bicchiere=='Highball glass' || bicchiere=='Pitcher' || bicchiere=='Old-Fashioned Glass' || bicchiere=='Old-Fashioned glass' || bicchiere=='Old-fashioned glass' || bicchiere=='Collins Glass' || bicchiere=='Collins glass' || bicchiere=='Whiskey Sour glass' || bicchiere=='Whiskey Sour Glass' || bicchiere=='Whiskey sour glass' || bicchiere=='Hurricane Glass' || bicchiere=='Hurricane glass'"
                    class="fas fa-glass-whiskey"></i>
                <i *ngIf="bicchiere=='Wine Glass' || bicchiere=='Wine glass' || bicchiere=='Champagne Flute' || bicchiere=='Champagne flute' || bicchiere=='Balloon Glass' || bicchiere=='Balloon glass'"
                    class="fas fa-wine-glass-alt"></i>
                <i *ngIf="bicchiere=='Coffee Mug' || bicchiere=='Irish coffee cup' || bicchiere=='Coffee mug' || bicchiere=='Punch Bowl' || bicchiere=='Punch bowl' || bicchiere=='Mason Jar' || bicchiere=='Mason jar'"
                    class="fas fa-coffee"></i>
                <h6 class="small">{{bicchiere}}</h6>

                
                <!--<h6 class="small">Total Views: {{ricerche}}</h6>-->
                <div class="col-12 pt-3" style="display: block;">
                    <h6 class="grigioscuro">HOW TO MIX</h6>
                    <p style="border-bottom: 1px solid ;"></p>
                </div>
            </div>
            <div class="row px-5">
                <small style="text-align: justify;">{{istruzioni}}</small>
            </div>
        </div>
            <div class="col-12 mt-4" style="display: block;">
                <h6 class="grigioscuro text-center">INGREDIENTS</h6>
            </div>
            <div class="row flex flex-around pl-2 " >
                <div class="col-12 cursor-pointer" *ngFor="let item of ingredienti" (click)="allCocktailByIngredient(item.nameLess)">
                    <img [src]="item.img" class="img-fluid fluid-padding" alt="">
                    <h6 class="small text-center">{{item.nameFull}}</h6>
                </div>
            </div>
        
    </div>
    <div class="row fluid-padding" *ngIf="errore">
        <div class="col-12 pt-5">
            <small class="bold">604</small>. <small class="grigioscuro">Missing cocktail.</small><br><br>
            <small>Unfortunately, the research did not return any results.</small><br>
            <small class="grigioscuro">The requested cocktail is not available in our archives.</small>
        </div>
        <div class="col-12 pt-2">
            <img src="../../assets/img/emptyglass.png" class="img-fluid" alt="" style="max-height: 40vh;">
        </div> 
    </div>

</div>