
<img src="../../assets/img/close-icon.png" (click)='closeDialog()' class="button-close " >
<div class="col-12 text-center">
    <h4>FILTER</h4>
</div>
<div class="col-12">
    <form [formGroup]="form1">
        <div class="col-12 flex-center">
            <mat-form-field class="w-100">
                <mat-label>Filtra per categoria</mat-label>
                <mat-select formControlName="categoria">
                    <mat-option value="item" *ngFor="let item of listaCategorie" (click)="getPerCategoria(item)">{{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 flex-center">
            <mat-form-field class="w-100">
                <mat-label>Filtra per Alcolici/Analcolici</mat-label>
                <mat-select formControlName="alcolico">
                    <mat-option value="Non alcoholic" (click)="getAlchol('Non alcoholic')">Non alcoholic</mat-option>
                    <mat-option value="Alcoholic" (click)="getAlchol('Alcoholic')">Alcoholic</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 flex-center">
            <mat-form-field class="w-100">
                <mat-label>Filtra per calice</mat-label>
                <mat-select formControlName="calice">
                    <mat-option value="item" *ngFor="let item of listaCalici" (click)="getPerCalice(item)">{{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12 flex-center">
            <mat-form-field class="w-100">
                <mat-label>Filtra per ingredienti</mat-label>
                <mat-select [formControl]="ingredients" (selectionChange)="changed()" multiple>
                    <mat-option (click)="findCocktail()" *ngFor="let item of listaIngredienti" [value]="item.strIngredient">
                        {{item.strIngredient}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!--<div class="col-12 flex-center">
                <form [formGroup]="form" (ngSubmit)="submit()" class="w-100 flex-center align-center">
                    <mat-form-field class="w-75 flex-center">
                        <input matInput formControlName="cocktail" type="text" autocomplete="off" placeholder="Search for a cocktail by name" />
                        
                    </mat-form-field>
                    <i class="fas fa-search fa-lg cursor-pointer" (click)="submit()"></i>
                </form>
            </div>-->
        <div class="col-12">
            <form class="w-100 flex-center align-center">
                <mat-form-field class="w-100 flex-center">
                    <input type="text" placeholder="Choose a cocktail by name" aria-label="Number" matInput
                        [formControl]="myControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="submit()">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    
    </form>
</div>
