<div id="helperDesktop" style="margin-top: 180px"></div>
<div id="helperMobile" style="margin-top: 60px"></div>
<div class="desktop" id="navbar">
    <div  class="container-fluid">
        <form [formGroup]="form1">
            <div class="col-12 flex-center wrap">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 flex-center">
                    <mat-form-field>
                        <mat-label class="white">Filter by category</mat-label>
                        <mat-select formControlName="categoria">
                            <mat-option value="item" *ngFor="let item of listaCategorie" (click)="getPerCategoria(item)">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 flex-center">
                    <mat-form-field>
                        <mat-label class="white">Alcohol / No alcohol</mat-label>
                        <mat-select formControlName="alcolico">
                            <mat-option value="Non alcoholic" (click)="getAlchol('Non alcoholic')">Non alcoholic</mat-option>
                            <mat-option value="Alcoholic" (click)="getAlchol('Alcoholic')">Alcoholic</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 flex-center">
                    <mat-form-field>
                        <mat-label class="white">Filter by glass</mat-label>
                        <mat-select formControlName="calice">
                            <mat-option value="item" *ngFor="let item of listaCalici" (click)="getPerCalice(item)">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-6 flex-center">
                    <mat-form-field class="w-100">
                        <mat-label>Filter by ingredients</mat-label>
                        <mat-select [formControl]="ingredients" (selectionChange)="changed()" multiple>
                            <mat-option (click)="findCocktail()" *ngFor="let item of listaIngredienti" [value]="item.strIngredient">
                                {{item.strIngredient}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--<div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 flex-center">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <mat-form-field>
                            <input matInput formControlName="cocktail" type="text" autocomplete="off"
                                placeholder="Search for a cocktail" />
                        </mat-form-field>
                        <i class="fas fa-search cursor-pointer" (click)="submit()"></i>
                    </form>
                </div>-->
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 col-12 flex-center">
                    <form class="w-100 flex-center align-center">
                        <mat-form-field class="w-100 flex-center">
                            <input type="text" placeholder="Search by name" aria-label="Number" matInput
                                [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="submit()">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <i class="fas fa-search "></i>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <div id="navBasic" class="container-fluid ">
        <div class="row pt-3 pb-0  ">
            <div  class="col-4 ">
            </div>
            <!--<div class="col-4 cursor-pointer">
                <img src="../../assets/img/filtro.png" class="cursor-pointer " style="height: 80px;"
                    (click)="showFilter()">
            </div>-->
            <div class="col-4 flex-center">
                <img class="classicCursor" [routerLink]="['/']" src="../../assets/img/viralcocktails.svg" alt="">
            </div>
            <div class="col-4 flex-right pr-5">
            </div>
        </div>
    </div>
</div>

<div class="mobile" id="navbarMobile">
    <div id="navBasicMobile" class="container-fluid ">
        <div class="row  pb-0  ">
            <div class="col-4 ">
                <i (click)="openDialog()" class="fas fa-search fa-lg classicCursor"></i>
            </div>
            <div class="col-4 flex-center">
                <img  class="classicCursor logoMobile bounceInLeft" [routerLink]="['/']" src="../../assets/img/viralcocktails.svg" alt="">
            </div>
            <div class="col-4 flex-right pr-5">
            </div>
        </div>
    </div>
</div>