.float-panel {
    width:100%;
    background:linear-gradient(#ff9d2f, #ff6126);
    z-index:300;
    padding:30px 0; 
    transform: translateZ(0);
    transition:all 0.5s;
}
.float-panel .content-area {
    max-width:900px;
    margin:10px auto;
}
.float-panel a {
    font-size:16px;
    text-decoration:none;
    color:#444;
    display:inline-block;
    padding:10px 20px;
}                  
.float-panel .fa-gg {                  
    color:#F0595C;
    font-size:30px;
    vertical-align:middle;                  
    transition:all 1s;                  
}
::ng-deep .mat-form-field-empty.mat-form-field-label {
  color: white;
}
#navbar {
  background-image: linear-gradient(#8f00ee, #ab9cff);
    -webkit-clip-path: polygon(0 86%, 0 0, 100% 0, 100% 100%, 73% 83%, 50% 100%, 26% 82%, 20% 100%);
    clip-path: polygon(0 86%, 0 0, 100% 0, 100% 100%, 73% 83%, 50% 100%, 26% 82%, 20% 100%);
    overflow: hidden;
    padding: 30px 10px;
    transition: 0.8s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
#navbarMobile {
  background-image: linear-gradient(#8f00ee, #ab9cff);
  -webkit-clip-path: polygon(0 86%, 0 0, 100% 0, 100% 100%, 73% 83%, 50% 100%, 26% 82%, 20% 100%);
  clip-path: polygon(0 86%, 0 0, 100% 0, 100% 100%, 73% 83%, 50% 100%, 26% 82%, 20% 100%);
  overflow: hidden;
  padding: 30px 10px;
  transition: 0.8s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.wrap{
    flex-wrap: wrap;
}
@media screen and (max-width: 1450px) {
  #filtri{
    display: none;
  }
  #helperMobile{
    display: block;
  }
  #helperDesktop{
    display: none;
  } 
.mobile{
  display: block;
}
.desktop{
  display: none;
}
}
@media screen and (min-width: 1450px) {
  .mobile{
      display: none;
  }
  #helperMobile{
    display: none;
  }
  #helperDesktop{
    display: block;
  } 
  .desktop{
    display: block;
  }
  #filterModal{
    display: none;
  }
}
.img-search{
  width: 100px;
}
.img-filter{
  border: 1px solid black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10%;
}
.img-filter:hover{
  background-color: rgba(211, 189, 189, 0.421);
}
.logoMobile{
  height: 3vh;
}
.classicCursor{
    cursor: url(../../assets/img/cursorClassic.png), auto;
}