<footer>
<div class="container-fluid background-grigio d-none d-md-block">
    <div class="row fluid-padding py-5">

        <div class="col flex-left mx-2">
            <div class="row">
                <p class="bold small">Download</p>
                <small class="grigio">Enjoy the complete experience: get ViralCocktails on Android, iOS, Windows 8 or
                    Windows Phone!
                </small>
            </div>
        </div>

        <div class="col flex-center mx-2">
            <div class="row">
                <p class="bold small mb-0">Community</p>
                <small class="grigio">Join cocktail lovers from across the globe on Facebook and Twitter.</small>
            </div>
        </div>

        <div class="col flex-center mx-2">
            <div class="row">
                <p class="bold small">About us</p>
                <small class="grigio">Made with ♥︎ in Italy by ClanGroup.
                    Connect with the team on Facebook,
                    Twitter or LinkedIn, or check out our
                    Privacy Policy.</small>
            </div>
        </div>

        <div class="col flex-center mx-2">
            <div class="row">
                <p class="bold small">Contact</p>
                <small class="grigio">Say hi anytime at team@viralcocktails.com,
                    or give us feedback here:
                    http://viralcocktails.uservoice.com</small>
            </div>
        </div>

    </div>
</div>
<!--cellulare-->
<div class="container-fluid background-grigio d-sm-block d-md-none">
    <div class="row p-4">
        <div class="col-12 pt-2">
            <div class="row">
                <p class="bold small mb-0">About us</p>
                <small class="grigio">Made with ♥︎ in Italy by Andrea Amato, Luigi DaPonte, Francesco Dell'Aria,
                    Francesco Parenti, Vincenzo Romano, Margherita Vaiana.</small>
            </div>
        </div>

        <div class="col-12 pt-2">
            <div class="row">
                <p class="bold small mb-0">Contact</p>
                <small class="grigio">Say hi anytime at team@viralcocktails.com.
                    Connect with the team on Facebook,
                    Twitter or LinkedIn, or check out our
                    Privacy Policy.
                    </small>
            </div>
        </div>

    </div>
</div>
</footer>