.cocktail {
    cursor: url(../../assets/img/cocktailCursor.png), auto;
}
.ingrediente {
    cursor: url(../../assets/img/ingredients.png), auto;
}
button{
    cursor: url(../../assets/img/cursorClassic.png), auto;
}
.dadi{
    cursor: url(../../assets/img/dice-png-dice-transparent-png-image-550.png), auto;
}