<div class="d-none d-md-block">
<div class="container-fluid ">
    <div class="row fluid-padding py-5 content">
        <div class="col-12 text-center">
            <div class="row">
                <div class="flex flex-left  col-4">

                    <button class="btn-github-left classicCursor" [routerLink]="['/allco']" style="border-radius: 15px;">
                        <span class="btn-gradient-left ">
                            <i class="fas fa-cocktail "></i>
                        </span>
                        <small style="font-size: 13px;"> C o c k t a i l s</small>
                    </button>

                </div>
                <div class="col-4">
                    <h4>Welcome</h4>
                    <small>To The Definitive Cocktail Encyclopaedia</small>
                </div>
                <div class="flex flex-right col-4">
                    <button class="btn-github-right classicCursor" [routerLink]="['/alling']" style="border-radius: 15px;">
                        <span class="btn-gradient-right">
                            <i class="fas fa-lemon"></i>
                        </span>
                        <small style="font-size: 13px;">I n g r e d i e n t s</small>
                    </button>

                </div>
            </div>
            <div class="row pt-5">
                <div class="col-6" *ngIf="dailyCocktail">
                    <h6 class="small grigio">D A I L Y</h6>
                    <h6 class="grigioscuro">C O C K T A I L</h6>
                    <div class="col-12 hover-shadow rounded classicCursor" (click)="openDialog1(dailyCocktail.strDrink)">
                        <div class="w-100 p-3">
                            <div class="rounded text-center ">
                                <img class="d-block m-auto img-item img-fluid rounded "
                                    src="{{dailyCocktail.strDrinkThumb}}" alt="img">
                            </div>
                            <div class="pt-1">
                                <span class="grigioscuro bold d-block w-100 "
                                    style="font-family: Alright Sans LT, sans-serif">{{dailyCocktail.strDrink}}</span>
                                <div class="row">

                                    <div class="col-6">
                                        <small class="grigio d-block w-100 green">{{dailyCocktail.strCategory}}</small>
                                    </div>
                                    <div class="col-6">
                                        <small class="grigio d-block w-100 green">{{dailyCocktail.strAlcoholic}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" *ngIf="randomCocktail">
                    <h6 class="small grigio">R A N D O M</h6>
                    <h6 class="grigioscuro">C O C K T A I L</h6>
                    <div class="col-12 hover-shadow rounded classicCursor">
                        <div class="w-100 p-3">
                            <div class="rounded text-center" (click)="randomDrink()">
                                <img class="d-block m-auto img-item img-fluid rounded dadi "
                                    src="{{randomCocktail.strDrinkThumb}}" alt="img">
                            </div>
                            <div class="pt-1">
                                <span (click)="openDialog1(randomCocktail.strDrink)"
                                    class="grigioscuro bold d-block w-100 "
                                    style="font-family: Alright Sans LT, sans-serif">{{randomCocktail.strDrink}}</span>
                                <div class="row">
                                    <div class="col-6">
                                        <small class="grigio d-block w-100 green">{{randomCocktail.strCategory}}</small>
                                    </div>
                                    <div class="col-6">
                                        <small
                                            class="grigio d-block w-100 green">{{randomCocktail.strAlcoholic}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-12">
                    <h6 class="small grigio">P O P U L A R</h6>
                    <h6 class="grigioscuro">C O C K T A I L S</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-3 hover-shadow rounded classicCursor" *ngFor="let item of cocktailList"
                    (click)="openDialog1(item.strDrink)">
                    <div class="w-100 p-3">
                        <div class="rounded text-center">
                            <img class="d-block m-auto img-item img-fluid rounded "
                                src="{{item.strDrinkThumb}}" alt="img">
                        </div>
                        <div class="pt-1">
                            <span class="grigioscuro bold d-block w-100"
                                style="font-family: Alright Sans LT, sans-serif">{{item.strDrink}}</span>
                            <div class="row">
                                <div class="col-6" style="padding-right: 0px;">
                                    <small class="grigio d-block w-100 green text-left">{{item.strCategory}}</small>
                                </div>
                                <div class="col-6" style="padding-left: 0px;">
                                    <small class="grigio d-block w-100 green text-right">{{item.strAlcoholic}}</small>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row py-5">
                <div class="col-12">
                    <h6 class="small grigio">P O P U L A R</h6>
                    <h6 class="grigioscuro">I N G R E D I E N T S</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-3 hover-shadow rounded classicCursor" *ngFor="let item of ingredientsList"
                    (click)="openDialog2(item.strIngredient)">
                    <div class="w-100 p-3">
                        <div class="rounded text-center">
                            <img class="d-block m-auto img-item img-fluid rounded "
                                src="{{item.immagine}}" alt="img">
                        </div>
                        <div class="pt-1">
                            <span class="grigioscuro bold d-block w-100"
                                style="font-family: Alright Sans LT, sans-serif">{{item.strIngredient}}</span>
                            <div class="row">
                                <small class="grigio d-block w-100 green">{{item.strType}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row pt-5">
                <div class="col-6 pr-5">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                      </canvas>
                    </div>
                </div>
                <div class="col-6 pl-5">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                        [datasets]="barChartData2"
                        [labels]="barChartLabels2"
                        [options]="barChartOptions2"
                        [plugins]="barChartPlugins2"
                        [legend]="barChartLegend2"
                        [chartType]="barChartType2">
                      </canvas>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>
<!--cellulare-->
<div class=" d-sm-block d-md-none">
<div class="container-fluid">
    <div class="row  py-5">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12">
                    <h4>Welcome</h4>
                    <small>To The Definitive Cocktail Encyclopaedia</small>
                </div>
                <div class="flex flex-left  col-12 pt-3 px-5">
                    <button class="btn-github-left w-100" [routerLink]="['/allco']" style="border-radius: 15px;">
                        <span class="btn-gradient-left">
                            <i class="fas fa-cocktail"></i>
                        </span>
                        <small style="font-size: 13px;">C o c k t a i l s</small>
                    </button>
                </div>
                <div class="flex flex-right col-12 pt-2 px-5">
                    <button class="btn-github-right w-100" [routerLink]="['/alling']" style="border-radius: 15px;">
                        <span class="btn-gradient-right">
                            <i class="fas fa-lemon"></i>
                        </span>
                        <small style="font-size: 13px;">I n g r e d i e n t s</small>
                    </button>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-6" *ngIf="dailyCocktail">
                    <h6 class="small grigio">D A I L Y</h6>
                    <h6 class="grigioscuro">C O C K T A I L</h6>
                    <div class="col-12 hover-shadow rounded classicCursor" (click)="openDialog1(dailyCocktail.strDrink)">
                        <div class="w-100 ">
                            <div class="rounded text-center">
                                <img class="d-block m-auto img-item img-fluid rounded "
                                    src="{{dailyCocktail.strDrinkThumb}}" alt="img">
                            </div>
                            <div class="pt-1">
                                <span class="grigioscuro bold d-block w-100"
                                    style="font-family: Alright Sans LT, sans-serif">{{dailyCocktail.strDrink}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6" *ngIf="randomCocktail">
                    <h6 class="small grigio">R A N D O M</h6>
                    <h6 class="grigioscuro">C O C K T A I L</h6>
                    <div class="col-12 hover-shadow rounded classicCursor">
                        <div class="w-100 classicCursor">
                            <div class="rounded text-center" (click)="randomDrink()">
                                <img class="d-block m-auto img-item img-fluid rounded dadi"
                                    src="{{randomCocktail.strDrinkThumb}}" alt="img">
                            </div>
                            <div class="pt-1">
                                <span (click)="openDialog1(randomCocktail.strDrink)"
                                    class="grigioscuro bold d-block w-100 classicCursor"
                                    style="font-family: Alright Sans LT, sans-serif">{{randomCocktail.strDrink}}</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3 mt-2">
                <div class="col-12">
                    <h6 class="small grigio">P O P U L A R</h6>
                    <h6 class="grigioscuro">C O C K T A I L S</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-6 hover-shadow rounded classicCursor" *ngFor="let item of cocktailList"
                    (click)="openDialog1(item.strDrink)">
                    <div class="w-100 p-3">
                        <div class="rounded text-center">
                            <img class="d-block m-auto img-item img-fluid rounded "
                                src="{{item.strDrinkThumb}}" alt="img">
                        </div>
                        <div class="pt-1">
                            <span class="grigioscuro bold d-block w-100"
                                style="font-family: Alright Sans LT, sans-serif">{{item.strDrink}}</span>

                            <!--<small class="d-block w-100 cursor-pointer" (click)="openDialog(item)"><u>Scopri di più</u></small>-->
                        </div>


                    </div>
                </div>
            </div>

            <div class="row py-3">
                <div class="col-12">
                    <h6 class="small grigio">P O P U L A R</h6>
                    <h6 class="grigioscuro">I N G R E D I E N T S</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-6 hover-shadow rounded classicCursor" *ngFor="let item of ingredientsList"
                    (click)="openDialog2(item.strIngredient)">
                    <div class="w-100 p-3">
                        <div class="rounded text-center">
                            <img class="d-block m-auto img-item img-fluid rounded "
                                src="{{item.immagine}}" alt="img">
                        </div>
                        <div class="pt-1">
                            <span class="grigioscuro bold d-block w-100"
                                style="font-family: Alright Sans LT, sans-serif">{{item.strIngredient}}</span>


                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row pt-5">
                <div class="col-6 pr-5">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                      </canvas>
                    </div>
                </div>
                <div class="col-6 pl-5">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                        [datasets]="barChartData2"
                        [labels]="barChartLabels2"
                        [options]="barChartOptions2"
                        [plugins]="barChartPlugins2"
                        [legend]="barChartLegend2"
                        [chartType]="barChartType2">
                      </canvas>
                    </div>
                </div>
            </div>-->

        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>