<div class="d-none d-md-block">
<div class="container-fluid ">
    <div class="row fluid-padding py-5 content">
        <div class="col-12 text-center " *ngIf="cocktailList">
            <div class="row pb-5">
                <div class="col-12">
                    <h6 class="small grigio">A L L</h6>
                    <h6 class="grigioscuro">C O C K T A I L S</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-3 hover-shadow rounded cocktail" *ngFor="let item of cocktailList
                | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" (click)="openDialog1(item.strDrink)">
                    <div class="w-100 p-3">
                        <div class="rounded text-center">

                            <img class="d-block m-auto img-item img-fluid rounded cocktail"
                                src="{{item.strDrinkThumb}}" alt="img">
                        </div>
                        <div class="pt-1">
                            <span class="grigioscuro bold d-block w-100"
                                style="font-family: Alright Sans LT, sans-serif">{{item.strDrink}}</span>
                            <div class="row">

                                <div class="col-6">
                                    <small class="grigio d-block w-100 green">{{item.strCategory}}</small>
                                </div>
                                <div class="col-6">
                                    <small class="grigio d-block w-100 green">{{item.strAlcoholic}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 flex-center py-4" *ngIf="cocktailList">
                <ngb-pagination [collectionSize]="cocktailList.length" [(page)]="page" [maxSize]="5" [rotate]="true"
                    [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
            <div class="flex-center justify-content-around">
                <p (click)="forLetter(item)" class="cursor-pointer" *ngFor="let item of iniziali">{{item}}</p>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>


<!-- cellulare-->

<div class=" d-sm-block d-md-none">
<div class="container-fluid">
    <div class="row py-5 content">
        <div class="col-12 text-center ">
            <div class="row pb-2">
                <div class="col-12">
                    <h6 class="small grigio">A L L</h6>
                    <h6 class="grigioscuro">C O C K T A I L S</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-6 hover-shadow rounded cocktail" *ngFor="let item of cocktailList
                | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" (click)="openDialog1(item.strDrink)">
                    <div class="w-100 p-3">
                        <div class="rounded text-center">

                            <img class="d-block m-auto img-item img-fluid rounded cocktail"
                                src="{{item.strDrinkThumb}}" alt="img">
                        </div>
                        <div class="pt-1">
                            <span class="grigioscuro bold d-block w-100"
                                style="font-family: Alright Sans LT, sans-serif">{{item.strDrink}}</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 flex-center py-4" *ngIf="cocktailList">
                <ngb-pagination [collectionSize]="cocktailList.length" [(page)]="page" [maxSize]="5" [rotate]="true"
                    [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>
            <div class="flex-center justify-content-around">
                <p (click)="forLetter(item)" class="cursor-pointer" *ngFor="let item of iniziali">{{item}}</p>
            </div>
        </div>
    </div>

</div>
<div class="footer">
    <app-footer></app-footer>
</div>
</div>