<div class="container-fluid  grad2 d-none d-md-block" >
    <div class="row fluid-padding py-5">
        <div class="col-5 text-center">
            <img [src]="immagine" class="img-fluid rounded" alt="">
            <br><br>
            <h4>Popularity:</h4>
            <h6 >   Viewed {{ricerche}} times  </h6>
        </div>
        <div class="col-7 text-center">
            <h2 class="w-100 bold grigioscuro">{{nome}}</h2>
            <!--<h6 class="small">Total Views: {{ricerche}}</h6>-->
           
            
            
            <div class="col-6 offset-3 pt-3"style="display: block;">
                <h6 class="grigioscuro w-100 text-center">COCKTAILS</h6>
                <p style="border-bottom: 1px solid black;"></p>
            </div>
            <div class="row flex flex-center pl-2">
                <button type="button" class="btn btn-outline-secondary bold" (click)="allCocktailByIngredient()">Discover all Cocktails</button>
                
            </div>
            
        </div>
        <div *ngIf="descrizione" class="row pt-3">
            <div class="col-6 offset-3"style="display: block;">
                <h6 class="grigioscuro w-100 text-center">DESCRIPTION</h6>
                <p style="border-bottom: 1px solid black;"></p>
            </div>
            <small style="text-align: justify;">{{descrizione}}</small>
        </div>
        <br>
            <br><br>
            <br>
    </div>
</div>




<div class="container-fluid  grad2 d-sm-block d-md-none" >
    <div class="row fluid-padding py-5 text-center">
        <div class="col-12">
            <img [src]="immagine" class="img-fluid rounded" alt="">
            <br><br>
            <h4>Popularity:</h4>
            <h6 >   Viewed {{ricerche}} times  </h6>
        </div>
        <div class="col-12 text-center">
            <h2 class=" bold grigioscuro">{{nome}}</h2>
            <!--<h6 class="small">Total Views: {{ricerche}}</h6>-->
           
            
            
           
            <div class="row flex flex-center pl-2">
                <button type="button" class="btn btn-outline-secondary bold" (click)="allCocktailByIngredient()">Discover all Cocktails</button>
                
            </div>
            
        </div>
        <div *ngIf="descrizione" class="row pt-3">
            <div class="col-12"style="display: block;">
                <h6 class="grigioscuro text-center">DESCRIPTION</h6>
                <p style="border-bottom: 1px solid black;"></p>
            </div>
            <small style="text-align: justify;">{{descrizione}}</small>
        </div>
        <br>
            <br><br>
            <br>
    </div>
</div>
