:root {
    --grigino: #999;
    --grigioscuro: #666;
    --grigetto: #f0f0f0;
    --gray-light: #f1f1f1;
    --gray: #dad8d8;
    --dark-gray: #868686;
    --yellow: #FFBB03;
    --acidgreen2: rgb(167, 193, 40);
    --acidgreen: rgb(187, 209, 81);
    --light-green: #72c262;
    --greencart: rgb(78, 145, 76);
    --verdescuro: rgb(38, 65, 36);
    --blu: #0076B6;
    --verdepetrolio: #00A28A;
    --verdepetrolioscuro: rgb(0, 110, 94);
    --verdepetrolioscurissimo: #1C4220;
}
.align-center{
    display: flex;
    align-items: center;
}
.flex-right{
    display: flex;
    justify-content: flex-end;
}


.flex-center{
    display: flex;
    justify-content: center;
}


.flex-left{
    display: flex;
    justify-content: left;
}

.fluid-padding {
    padding: 7.5vw 15vw;
}

.cursor-pointer{
    cursor: pointer;
}

.bold {
    font-weight: bold !important;
}

.grigio {
    color: var(--grigino);
}
.grigioscuro {
    color: var(--grigioscuro);
}
.background-grigio {
    background-color: var(--grigetto);
}
.no-padding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.no-margin{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.rounded {
    border-radius: 1rem !important;
}
.hover-shadow {
    transition: .3s;
}

.hover-shadow:hover {
    -webkit-box-shadow: 0px 0px 16px 1px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px 0px 16px 1px rgba(166, 166, 166, 1);
    box-shadow: 0px 0px 16px 1px rgba(166, 166, 166, 1);
}
.grad {
    background-image: linear-gradient( rgb(251, 189, 170),  rgb(251, 216, 206), white);
  }
.grad2{
    background-image: linear-gradient( gray,var(--gray-light)  , white);
}
.white{
    color: white;
}


  .mat-dialog-container{
      padding-left: 5px!important;
      padding-top: 5px!important;
      padding-right: 5px!important;
      padding-bottom: 5px!important;
      border-radius: 10px!important;

  }
 .no-border{
     border: none!important;
 }
 .icon-btn{
    min-height:150px;
    background:#f5f5f5;
    float:left;
}

.icon-btn button{
    float:left;
    margin:10px;
}

.btn-gradient {    
    width:50%;
    position: relative;
    display: inline-block;
    left:-20px;
    background: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 60px;
    padding: 8px 24px 8px 16px;
    box-shadow: 2px 0px 0px 0px rgba(116, 109, 109, 0.4);
}
.btn-github{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #7a7474;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:250px;
}
.btn-gradient-left {    
    width:50%;
    position: relative;
    display: inline-block;
    left:-30px;
    background: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 60px;
    padding: 8px 24px 8px 16px;
    box-shadow: 2px 0px 0px 0px rgba(116, 109, 109, 0.4);
}
.btn-github-left{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #7a7474;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:270px;
}
.btn-gradient-right {    
    width:50%;
    position: relative;
    display: inline-block;
    left:-20px;
    background: rgba(0, 0, 0, 0.15);
    border-top-right-radius: 60px;
    padding: 8px 24px 8px 16px;
    box-shadow: 2px 0px 0px 0px rgba(116, 109, 109, 0.4);
}
.btn-github-right{
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #7a7474;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:270px;
}
#formDetail{
    background-color: rgb(213, 209, 209);
    border: 3px solid white;
  }
  .button-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    transform: translate(-20%, 15%);
    cursor: pointer;
    z-index: 1000;
  }
  #formDetail {
    position: relative;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    overflow-y: auto;
  }
  @media screen and (min-width: 1450px) {

  }
  @media screen and (max-width: 1450px) {
      
}
.content {
    min-height: calc(100vh - 70px);
  }
  .footer {
    height: 50px;
  }
.classicCursor {
    cursor: url(assets/img/cursorClassic.png), auto;
}
body{
    cursor: url(assets/img/images.png), auto;
}